.write{
    padding-top:50px;
    background-image: url("https://images.unsplash.com/photo-1604368561645-59192f721c9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJsYWNrJTIwbW91bnRhaW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;

}
.writeForm{
    position: relative;
    color:white;
}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
    color:white;
}

.writeInput{
    font-size:30px;
    border:none;
    padding: 20px;
    width:70vw;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
.writeInput:focus{
    outline:none;
    color:white
}

.writeText{
    font-size:20px;
    height:100vh;
    color:white;
}
.writeSubmit{
    position: absolute;
    top:20px;
    right:50px;
    color:white;
    background-color: goldenrod;
    padding:10px;
    border:none;
    border-radius:10px;
    cursor: pointer;
    font-size: 16px;
    transition:ease 0.3s;
}

.writeSubmit:hover{
    margin-top:-10px;
}

