.conatiner{
    height:60vh;
    background-color:rgb(217, 212, 212);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.title{
    font-size:70px;
    margin-bottom:20px;
    font-family: 'Lora', serif;
}
.descritpion{
    font-size:24px;
    font-weight:300;
    font-family: 'Lora', serif;
    margin-bottom:20px;
}
.inputContainer{
    width:50%;
    background-color:rgb(217, 212, 212);
    display:flex;
    justify-content:space-between;
    font-family: 'Lora', serif;
}
.subscribe{
    background-color: red;
    color: white;
    margin: 20px;
    padding:20px;
    box-shadow: none;
    border-radius: 20px;
}